.about-section{
     padding: 5rem 2rem;
     background: white;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-container{
    max-width: 1280px;
    margin:0 auto;
}


.about-header{
    align-items: center;
    text-align: center;
}

.about-badge{
    display: block;
    background: rgba(30,111,159, 0.1);
    color: #1e6f9f;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.4rem 1 rem;
    border-radius: 40px;
    margin-bottom: 1rem;

}

.about-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color:#1971c2;
}

.subtitle{
    padding: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 1.5rem;
    color: #495057;
}

.abouttext >h3{
    text-align: center;
    padding: 10px;
    font-weight: 700;
    font-size: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.about-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
    margin-bottom: 1rem;
}

.abouttext >p{
    color: #4a627a;
    line-height: 1.6;
    margin-bottom: 1.2rem;
    font-size: 1 rem;
    letter-spacing: 2px;
}

.mission >h4{
    
    text-align: center;
    padding: 10px;
    font-weight: 700;
    font-size: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.mission >p{
    
    color: #4a627a;
    line-height: 1.6;
    margin-bottom: 1.2rem;
    font-size: 1 rem;
    letter-spacing: 2px;
}
.vision h4{
 
    text-align: center;
    padding: 10px;
    font-weight: 700;
    font-size: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.vision p{
    
    color: #4a627a;
    line-height: 1.6;
    margin-bottom: 1.2rem;
    font-size: 1 rem;
    letter-spacing: 2px;
}

.about-image> img{
    width: 100%;
    border-radius: 28px;
    transition: transform 0.3s;
    cursor: pointer;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}