*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
      background-color: #ffffff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      position: sticky;
      top: 0;
      z-index: 1000;
      width: 100%;
}

.container{
    max-width: 1280px;
    margin:0 auto;
    padding: 0 2rem;
    font-style: italic;margin-left: auto;
    
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 2rem;
    max-width: 1280px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-link {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.header-logotext{
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 700;
    color: #0f6fff;
    letter-spacing: 0.5px;
    transition: opacity 0.2s ease;
    cursor: pointer;
    line-height: 1.2;
}

.navlist{
    display: flex;
    gap: 3rem;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    
}

.navlink{
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    color: #1c84df;
    position: relative;
    
}